@charset "UTF-8";

@font-face {
    font-family: 'Netflix regular';
    src: url(../fontes/NetflixSans-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Netflix light';
    src: url(../fontes/NetflixSans-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Netflix bold';
    src: url(../fontes/NetflixSans-Bold.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Netflix regular';
}

header, section {
    border-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-color:rgb(56, 55, 55);
}

header {
    background-image: url(../imagens/Netflix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    height: 500px;
}

header div.cabeca {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: red;
}

header a {
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 3px;
    font-family: 'Netflix light';
}

header select {
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.726);
    padding: 3px;
    border-radius: 4px;
}

header div.cabeca2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
}

header h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.6em;
}

header form {
    width: 100vw;
}

header input#email {
    height: 50px;
    width: 98%;
    margin-bottom: 10px;
    text-indent: 10px;
}

header input#entrar {
    background-color: red;
    color: white;
    display: inline-block;
    border: none;
    padding: 10px;
    font-size: 17px;
    width: 110px;
}

header input#entrar:hover {
    cursor: pointer;
}

header p {
    font-size: 1em;
    margin-bottom: 15px;
}

section {
    background-color: black;
    color: white;
    text-align: center;
}