@charset "UTF-8";

@font-face {
    font-family: 'Netflix regular';
    src: url(../fontes/NetflixSans-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Netflix light';
    src: url(../fontes/NetflixSans-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Netflix bold';
    src: url(../fontes/NetflixSans-Bold.otf) format('opentype');
}

header {
    height: 680px;
    font-size: 2em;
}

header h1 {
    font-size: 1.5em;
    margin-left: 20px;
}

header menu {
    margin-right: 40px;
}

header select {
    padding: 6px;
    margin-top: 15px;
}

header a {
    margin-left: 30px;
    padding: 7px 15px;
    display: inline-block;
}

header p.second-p {
    margin-left: 100px;
    margin-right: 30px;
    font-size: 17px;
}

div.cabeca2 div#conteiner {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header input#email {
    width: 380px;
    height: 60px;
}

header input.entrar {
    padding: 10px 10px 10px 10px;
    padding-bottom: 17px;
    font-size: 0.8em;
    width: 180px;
    margin-left: -5px;
}

header div.cabeca2 {
    margin-top: 120px;
}

section.content-desktop {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section div.content {
    width: 40%;
    margin-left: 50px;
}

section div#left {
    order: 2;
}

section div#left2 {
    order: 2;
}

section img {
    height: 400px;
    margin-right: 50px;
}

section aside.photo-right {
    order: 1;
}

section aside.photo-left {
    order: 0;
}

section#questions {
    height: 900px;
}

section#questions h2 {
    font-size: 3em;
}

section#questions div.ask {
    margin: auto;
    width: 60%;
    height: 70px;
    font-size: 1.5em;
}

section#questions div#inputs {
    margin-top: 70px;
}

div#contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#contenedor input#go {
    padding: 10px 10px 10px 10px;
    padding-bottom: 17px;
    font-size: 1.5em;
    width: 180px;
    margin-left: -3px;
}

div#contenedor input#fmail {
    width: 380px;
    height: 60px;
}